<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Blog Site</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <h1>Blog Site</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/posts">All Posts</a></li>
        <li><a href="/users/login">Login</a></li>
        <li><a href="/users/register">Register</a></li>
      </ul>
    </nav>
  </header>

  <main>
    {{{body}}}
  </main>

  <footer>
    <p>&copy; 2023 Blog Site. All rights reserved.</p>
  </footer>
</body>
</html>
