
{{#extend "layout"}}

{{#section "title"}}Dashboard{{/section}}


{{#section "content"}}
  <h1>Welcome to your Dashboard</h1>
  <p>Hello, {{user.username}}! This is your personalized dashboard.</p>
  <p>You can manage your blog posts, comments, and more from here.</p>
{{/section}}


{{/extend}}
